# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Model files
qwen_model/model/
qwen_model/finetuned/
qwen_model/test_run/
qwen_model/finetuning/hp_tuning/

# Data files
qwen_model/data/raw/
qwen_model/data/dataset/

# Logs
qwen_model/logs/
wandb/
lightning_logs/
runs/

# Environment
.env
.venv
venv/
ENV/
.uv/
uv.lock
.python-version

# IDE
.idea/
.vscode/
.vscode-server/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# AWS
.aws/
.netrc

# Git
.git/

# Other
=*

# csv
*.csv

# logging
*.log