# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Data files
training/deepspeed/datasets/
training/deepspeed/datasets_bkp/

# Output files
training/deepspeed/output/

# Logs
training/deepspeed/logs/
wandb/
lightning_logs/
runs/
training/deepspeed/logs/qwen_model_shaltiel/*.log

# Environment
.env
.venv
venv/
ENV/
.uv/
uv.lock
.python-version

# IDE
.idea/
.vscode/
.vscode-server/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# AWS
.aws/
.netrc

# Git
.git/
.gitignore
qwen_model_shaltiel/.gitignore

# Other
=*
aws-efa-installer/

# csv
*.csv

# logging
*.log

# sandbox
sandbox/